<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.zsx.foo" version="0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>plugin-my</name><js-module name="plugin-my" src="www/plugin-my.js"><clobbers target="cordova.plugins.plugin-my" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="plugin-my"><param name="android-package" value="com.zsx.foo.plugin-my" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/plugin-my.java" target-dir="src/com/zsx/foo/plugin-my" /></platform></plugin>